.titulo{
    color: rgb(97, 88, 88);
    text-align: center;
}
.subtitulo{
    text-align: center;
}
.parrafogris{
    color: rgb(88, 88, 88);
    font-size: 2em;
}
.nombre{
    text-align: left;
}



.tblapresupuesto .des{
    text-align: center;
    
}
.tblapresupuesto .su{
    text-align: right;
    font-weight: bold;
}


table.tblapresupuesto .Descripcion{
color: brown;
}
footer.piePagina h5{

	width: 20%;
    display: inline-block;
    color: chocolate;
    background-color: rgb(49, 46, 250);
	width: 90%;
	margin: 0 auto;
}