<h1 class="titulo">{{titulo}}</h1> 
<h2 class="subtitulo"><p>{{comentario}}</p></h2>
<hr>
<h3><p>Suscripciones para el cliente</p></h3>

  <div class="nombre">
   <h4><p>Nombre del dominio: trabajoweb.com.ec </p> 
   </h4> 
  </div>  



   <tr class="Descripcion">
       <th>Descripción</th>
       <th>Valor</th>
   </tr>
   <tr>
       <td>Dominio anual</td>
       <td class="su">$35</td>
       <br></br>
       <td>Protección de privacidad</td>
   </tr>
   <tr>
    <td>Hosting Plan Superior</td>
   
</tr>
<tr class="des">
    <td>Espacio web ilimitado</td>
    <td></td>
</tr>
<tr class="des"> 
    <td>Ancho de banda ilimitado</td>
    <td></td>
</tr>
<tr class="des">
    <td>Cuentas de correos ilimitadas</td>
    <td></td>
</tr>
<tr class="des">
    <td>Certificado SSL GRATIS</td>
    <td></td>
</tr>
<tr class="des">
    <td>Dominios adicionales ilimitados</td>
    <td></td>
</tr>
<tr class="des">

    <td class="su">$12/Por Mes</td>
    <td></td>
</tr>

<tr class="des">
    <td>Desempeño superior (doble procesamiento memoria RAM)</td>
    <td></td>
</tr>
<tr>
    
    <td>Subdominios ilimitados</td>
    <td class="su">$15</td>
</tr>
<tr class="su">
    <td>Subtotal</td>
    <td>$194.00</td>
</tr>
<tr class="su">
    <td>Descuento:</td>
    <td>-$62.60</td>
</tr>
<tr class="su">
    <td>Total a Pagar</td>
    <td>$131.40</td>
</tr>
  
    

  <footer>
    <h5> Todos los derechos reservados</h5>
  </footer>