.titulo{
    color: rgb(97, 88, 88);
    text-align: center;
}
.subtitulo{
    text-align: center;
}
.parrafogris{
    color: rgb(88, 88, 88);
    font-size: 2em;
 
}
.nombre{
    text-align: left;
}


.tblapresupuesto .des{
    text-align: center;
	
    
}
.tblapresupuesto .su{
    text-align: right;
    font-weight: bold;
}

footer{
   
    font-weight: bold;
    font-size: 1em;
   
    
    background-color: blanchedalmond;
    color: rgb(158, 133, 115);
   
}
table.tblapresupuesto .Descripcion{
color: brown;
}
